input[type="number"] {
    max-width: 80%;
  }

  #controls {
    /* Appearance */
    background-color: white;
    padding: 0 10px 10px 10px;
    /* Fade out while not hovering */
    opacity: 0.75;
    zoom: 0.9;
    transition: opacity 500ms 1s;
  }
  
  #controls:hover {
    /* Fade in while hovering */
    opacity: 0.75;
    transition-delay: 0;
  }
  
  #logo:hover {
    /* Fade in while hovering */
    opacity: 0.95;
    transition-delay: 0;
  }